In [1]:
import pandas as pd

In [33]:
df = pd.read_csv("sunshine.csv")
df

    sunshine            city      lat      lon month  monthnum
0         69         Seattle  47.6062 -122.332   Jan         0
1        108         Seattle  47.6062 -122.332   Feb         1
2        178         Seattle  47.6062 -122.332   Mar         2
3        207         Seattle  47.6062 -122.332   Apr         3
4        253         Seattle  47.6062 -122.332   May         4
..       ...             ...      ...      ...   ...       ...
79       346  Salt Lake City  40.7884 -111.978   Aug         7
80       306  Salt Lake City  40.7884 -111.978   Sep         8
81       249  Salt Lake City  40.7884 -111.978   Oct         9
82       171  Salt Lake City  40.7884 -111.978   Nov        10
83       135  Salt Lake City  40.7884 -111.978   Dec        11

[84 rows x 6 columns]

In [4]:
import altair as alt

In [5]:
from altair.datasets import data

source = data.stocks()
source

    symbol       date   price
0     MSFT 2000-01-01   39.81
1     MSFT 2000-02-01   36.35
2     MSFT 2000-03-01   43.22
3     MSFT 2000-04-01   28.37
4     MSFT 2000-05-01   25.45
..     ...        ...     ...
555   AAPL 2009-11-01  199.91
556   AAPL 2009-12-01  210.73
557   AAPL 2010-01-01  192.06
558   AAPL 2010-02-01  204.62
559   AAPL 2010-03-01  223.02

[560 rows x 3 columns]

In [32]:
chart = alt.Chart(df).mark_line().encode(
    x="monthnum",
    y="sunshine",
    color="city:N" # N denotes nominal/categorical data
)

chart

alt.Chart(...)